﻿@{
    ViewData["Title"] = "Prototipo de Carga de Horas de Taller";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <a href="~/InternalHoras" class="btn btn-primary">Ingresar</a>
  
</div>

