﻿@model List<Trabajadore>

<h1>Tabla Interna</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th> 
                Sector
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var tabla in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>tabla.Empleado)</td>
                <td>@Html.DisplayFor(m=>tabla.Sector)</td>
            </tr>
        }
    </tbody>
</table>