﻿@using Horas_Taller.Models.ViewModels
@model InternalHorasViewModel
<h1>    Carga de Horario    </h1>

<!--esto que sigue es BOOTSTRAP!!!!!!!-->
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>

            <div class="form-group">
                <label asp-for="Empleado" class="control-label"></label>
                <select asp-for="Empleado" class="form-control" asp-items="ViewBag.Nombree"></select>
                <span asp-validation-for="Empleado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Proyecto" class="control-label"></label>
                <input asp-for="Proyecto" class="form-control" placeholder=" "/>
                <span asp-validation-for="Proyecto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeHora" class="control-label"></label>
                <select asp-for="TipoDeHora" class="form-control" asp-items="ViewBag.hor"></select>
                <span asp-validation-for="TipoDeHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadDeHoras" class="control-label"></label>
                <input asp-for="CantidadDeHoras" class="form-control" />
                <span asp-validation-for="CantidadDeHoras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sector" class="control-label"></label>
                <select asp-for="Sector" class="form-control" asp-items="ViewBag.mont"></select>
                <span asp-validation-for="Sector" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Tipo_Retraso" class="control-label"></label>
                <select asp-for="Tipo_Retraso" class="form-control" asp-items="ViewBag.retra"></select>
            </div>

            <div class="form-group">
                <input type="submit" href="~/InternalHoras" value="Crear" class="btn btn-primary" />
                <a href="~/InternalHoras" class="btn btn-primary">Atras</a>
            </div>


            <div class="btn-group">
                <a href="~/InternalHoras/create" class="btn btn-primary active">
                    <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Save
                </a>
                <a href="~/InternalHoras" class="btn btn-default">Cancel</a>
            </div>
        </form>

    </div>

</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }