﻿@model List<InternalHora>

<h1>Table Interna</h1>

<!--Accion de crear para porder agregar una tarea nueva-->
<p>
    <a asp-action="Create">Crear</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th> Proyecto </th>
            <th> Empleado </th>
            <th> Fecha </th>
            <th> Sector </th>
            <th> Tipo de Hora </th>
            <th> Cantidad de horas</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var tabla in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>tabla.Proyecto)</td>
                <td>@Html.DisplayFor(m=>tabla.Empleado)</td>
                <td>@Html.DisplayFor(m=>tabla.Fecha)</td>
                <td>@Html.DisplayFor(m=>tabla.Sector)</td>
                <td>@Html.DisplayFor(m=>tabla.TipoDeHora)</td>
                <td>@Html.DisplayFor(m=>tabla.CantidadDeHoras)</td>
            </tr>
        }
    </tbody>
    
</table>

<!--<a href="~/Administrador" class="btn btn-primary">Administrador</a>-->
<a href="~" class="btn btn-primary">Atras</a>


